<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseUrl" value="http://selenium-courses.ipa.dataart.net:8080/" />
		<add key="basicAuthDomain" value="selenium-courses.ipa.dataart.net:8081/" />
		<add key="basicAuthBaseUrl" value="http://selenium-courses.ipa.dataart.net:8081/" />
		<add key="basicAuthentication" value="false" />
		<add key="browserType" value="firefox" />
		<add key="image" value="Image.jpg"/>
		<add key="userData" value="UserData.csv"/>
	</appSettings>
</configuration>